{% load static %}

{% if message %}
<script type="text/javascript">alert('{{ message }}')</script>
{% endif %}
<html lang="fr">
<head>
<title>Connexion client</title>
<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css"/>
</head>
<body>
  <form method="POST" action="{% url 'authentification_vendeur' %}">
    {% csrf_token %}
    <div class="form-group">
       <label for="user">Nom d'utilisateur</label>
       <input id="user"  name="username" class="form-control" type="text" required>
    </div> <!-- form-group// -->
    <div class="form-group">
      <a class="float-right" href="{% url 'mot_de_passe_oublie' %}">Mot de passe oublié?</a>
      <label for="mdp">Mot de passe</label>
      <input id="mdp" name="mdp" class="form-control" placeholder="&bull;&bull;&bull;&bull;&bull;&bull;" type="password" required>
    </div> <!-- form-group// --> 
    <button type="submit" class="btn btn-primary btn-block"> Connexion  </button>
  </form>

</body>
