{% load static %}

{% if message %}
<script type="text/javascript">alert('{{ message }}')</script>
{% endif %}
<html lang="fr">
<head>
<title>Connexion client</title>
<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css"/>
</head>
<body>
  <section class="section-content padding-y bg"><br>
  <!-- ============================ COMPONENT LOGIN 1  ================================= -->
  <div class="container" >
    <div class="row">
      <div class="col-md-2 col-2"></div>
      <div class="col-md-8 col-8">
        <section class="section-content">
          <div class="card mx-auto" >
              <div class="card-body">
                <header class="mb-4">
              <h4 class="card-title"><ins><center>Auth Vendeur</center></ins></h4>
            </header>
              <form method="POST" action="{% url 'authentification_vendeur' %}">
                {% csrf_token %}
                  <div class="form-group">
                     <label for="user">Nom d'utilisateur</label>
                     <input id="user"  name="username" class="form-control" type="text" required>
                  </div> <!-- form-group// -->
                  <div class="form-group">
                    <a class="float-right" href="{% url 'mot_de_passe_oublie' %}">Mot de passe oublié?</a>
                    <label for="mdp">Mot de passe</label>
                    <input id="mdp" name="mdp" class="form-control" placeholder="&bull;&bull;&bull;&bull;&bull;&bull;" type="password" required>
                  </div> <!-- form-group// --> 
                  
                  <div class="form-group mt-3">
                      <button type="submit" class="btn btn-primary btn-block"> Connexion  </button>
                  </div> <!-- form-group// -->    
              </form>
              </div> <!-- card-body.// -->
              <div class="card-footer text-center">Vous n'avez pas de compte? <a href="{% url 'inscription_vendeur' %}">Inscription</a></div>
          </div> <!-- card .// -->
      </section>
    </div>
    <div class="col-md-2 col-2"></div>
  </div>
  </div>
  <!-- ============================ COMPONENT LOGIN 1  END.// ================================= -->
  </section>

</body>

