{% extends 'static_vendeur.html' %}
{% load mes_filtres %}
{% block static_vendeur %}
<div class="col-md-9">
	{% for his in historiques %}
	<article class="card order-group" style="margin-top: 5px;">
	<header class="card-header" style="background-color: blue; color: white;">
		<b class="d-inline-block mr-3">Code Commande: {{ his.code_cmd }}</b>
		<span>Date: {{ his.date_cmd|date:"D d M Y" }}</span>
	</header>
	<div class="card-body">
		<div class="row">
			<div class="col-md">
				<h6 class="text-muted">Produit</h6>
				<p>Titre : {{ his.libelle }}<br>
					prix : {{ his.prix_vendeur }}<br>
					Quantité vendus : {{ his.quantite }}.<br>
					{% if his.status_paiement == 'fait' %}
					<span class="b">Montant à recevoir : {{ his.quantite|multiplication:his.prix_vendeur }}</span>
					{% else %}
					<span class="b">Montant réçu : {{ his.quantite|multiplication:his.prix_vendeur }}</span>
					{% endif %}
				</p><br>
			</div>
			<div class="col-md">
				<h6 class="text-muted">Paiement</h6>
				<span class="text-success">
				    Cash à la livraison 
				</span>

				<p>livraison : {{ his.status_livraison }} <br>
				 Paiement : {{ his.status_paiment }} <br> 
				 Date paiement : {{ his.date_paiement }}
				</p>
				
			</div>
		</div> <!-- row.// -->
	</div> <!-- card-body .// -->
	</article><br>
	{% empty %}
		<div class="col-md">
			<h1><center>Aucune vente pour le moment</center></h1>
		</div>
	{% endfor %}
</div>
{% endblock %}
