{% extends 'static_vendeur.html' %}
{% load mes_filtres %}
{% block static_vendeur %}
<main class="col-md-9">

		<header class="border-bottom mb-4 pb-3">
			<div class="form">
				<form action="{% url 'liste_produits_vendeur' %}" method="POST" class="search" >
					{% csrf_token %}
					<div class="input-group w-100" style="padding-left: 10px;">
						<input type="text" class="form-control" placeholder="Rechercher un produit ici" value="{{ requete }}" name="requete" required>
					    <div class="input-group-append">
					      <button class="btn btn-primary" type="submit">
					        <i class="fa fa-search"></i> Chercher
					      </button>
					    </div>
				    </div>
				</form> <!-- search-wrap .end// --><br>
				<center><span class="mr-md-auto"> {{ nbre_produits }} article(s) trouvé(s) </span></center>					
			</div>
		</header><!-- sect-heading -->

		
		<div class="row">
		{% for produit in produits %}
			<div class="col-md-3 col-6">
				<figure class="card card-product-grid">
					<div class="img-wrap" style="height: 280px;"> 
						{% if produit.date_ajout|conversion_date_jour < 10 %}
							<span class="badge badge-danger"> NOUVEAU </span>
						{% endif %}
						<img style="margin-top: 5px; height: 90%; width: 90%" src="{{ produit.get_image }}">
						<a class="btn-overlay" href="{% url 'detail_produit_vendeur' produit.id %}"><i class="fa fa-search-plus"></i> Détails </a>
					</div> <!-- img-wrap.// -->
					<figcaption class="info-wrap">
						<div class="">
							<a href="{% url 'detail_produit_vendeur' produit.id %}" class="title b">{{ produit.libelle|truncatechars:17 }}</a>
							{% if produit.quantite <= 3 %}
							<span class="badge-warning"><b>{{ produit.quantite }} pcs restantes</b></span>
							{% else %}
							<span style="color: green;" ><b>{{ produit.quantite }} pcs restantes</b></span>
							{% endif %}
							<br>
							{% if produit.status %}
								<span>Visibilite: <i class="badge-success">Visible</i></span>
							{% else %}
								<span>Visibilite: <i class="badge-danger">Non visible</i></span>
							{% endif %}
							<div class="price-wrap mt-2">
								<span class="price h6"><center>Prix: {{ produit.prix_vendeur }} F.CFA</center></span>
								<!-- <del class="price-old">$1980</del> -->
							</div> <!-- price-wrap.// -->
						</div>
					</figcaption>
					<div>
						<a  href="{% url 'modifier_produit_vendeur' produit.id %}" class="btn btn-block btn-outline-primary">
							<i class="fa fa-pen"></i> &nbsp; Modifier
						</a>
						<a href="{% url 'supprimer_produit_vendeur' produit.id %}" class="btn btn-block btn-danger">Supprimer</a>
					</div>
				</figure>
			</div> <!-- col.// -->
		{% empty %}
		<div class="col-md">
			
			<h1><center>Aucun produit pour le moment</center></h1>
		</div>
		{% endfor %}
		</div>

		<div class="row">
			<nav aria-label="Page de navigation">
			  <ul class="pagination">
			  	{% if produits.has_previous %}
				  	<li class="page-item "><a class="page-link" href="?page=1">Début</a></li>
				    <li class="page-item "><a class="page-link" href="?page={{ produits.previous_page_number }}">Précédent</a></li>
			    {% endif %}

			    <li class="page-item disabled" style="padding: 8px;">Page {{ produits.number }} </li>
			    {% if produits.has_next %}
			    <li class="page-item"><a class="page-link" href="?page={{ produits.next_page_number }}">Suivant</a></li>
			    <li class="page-item"><a class="page-link" href="?page={{ produits.paginator.num_pages }}">Fin</a></li>
			    {% endif %}
			  </ul>
			</nav>
		</div>

	</main> <!-- col.// -->
{% endblock %}