{% extends 'static_vendeur.html' %}
{% block static_vendeur %}
	{% if message %}
		<script type="text/javascript">
			alert('{{ message }}');
		</script>
	{% endif %}

<div class="col-md-9">
	<div class="card">
	    <div class="card-body">
			<div class="row">
				<div class="col-md-9">
				    <form class="row" method="POST" action="{% url 'modifier_infos_vendeur' %}">
				     	{% csrf_token %}
				     	<div class="col-md-12">
				     		
			     		<div class="form-row">
							<div class="col form-group">
								<label>Contact 1</label>
							  	<input type="text" name="contact1" class="form-control" value="{{ vendeur.contact1 }}" required>
							</div> <!-- form-group end.// -->
							<div class="col form-group">
								<label>contact 2</label>
							  	<input type="text" name="contact2" class="form-control" value="{{ vendeur.contact2 }}">
							</div> <!-- form-group end.// -->
						</div> <!-- form-row.// -->
						
						<div class="form-row">
							<div class="form-group col-md-4">
							  <label>Country</label>
							  <input type="text" name="ville" class="form-control" value="{{ vendeur.ville }}" required>
							</div> <!-- form-group end.// -->
							<div class="form-group col-md-4">
							  <label>Commune</label>
							  <input type="text" name="commune" class="form-control" value="{{ vendeur.commune }}">
							</div> <!-- form-group end.// -->
							<div class="form-group col-md-4">
							  <label>Quartier</label>
							  <input type="text" name="quartier" class="form-control" value="{{ vendeur.quartier }}" required>
							</div> <!-- form-group end.// -->
						</div> <!-- form-row.// -->
						<div class="form-row">
							<div class="form-group col-md-12">
								<label>Email</label>
							  	<input type="email" name="email" class="form-control" value="{{ vendeur.user.email }}" required>
							 </div>
						</div> <!-- form-group end.// -->
						<div class="form-row">
							<div class="form-group col-md-6">
							  <label>Nouveau mot de passe</label>
							  <input type="password" name="mdp" class="form-control" required>
							</div> <!-- form-group end.// -->
							<div class="form-group col-md-6">
							  <label>Confirmer</label>
							  <input type="password" name="c_mdp" class="form-control" required>
							</div> <!-- form-group end.// -->
						</div> <!-- form-row.// -->

						<center><button type="submit" class="btn btn-success">Modifier</button></center><br>
				     	</div>
			      	</form>
			      </div>
		     	<div class="col-md">
		     		<center>	
			     		<input class="form-control" type="file" id="file_input"/>
			     		<p id="status">Selectionner une image svp</p>
		     			<img id="preview" src="https://baradjise-shop.s3.us-east-2.amazonaws.com/poy.jpg" class="img-md rounded-circle border">
		     		</center><br>
		     		<div>
		     		<form action="{% url 'changer_profil_vendeur' %}" method="post" enctype="multipart/form-data">
						{% csrf_token %}
						<input type="hidden" id="avatar-url" name="avatar-url" value="https://baradjise-shop.s3.us-east-2.amazonaws.com/poy.jpg">
						<center><input type="submit" value="changer profil" class="btn btn-outline-success"></center>
					</form>
		     	</div>  <!-- col.// -->
  			</div>
 		</div> <!-- card-body.// -->
	</div> <!-- card .// -->
</div>

<script type="text/javascript">
	(function() {
	  document.getElementById("file_input").onchange = function(){
	    var files = document.getElementById("file_input").files;
	    var file = files[0];
	    if(!file){
	      return alert("Aucun fichier selectionné.");
	    }
	    getSignedRequest(file);
	  };
	})();

	function getSignedRequest(file){
	  var xhr = new XMLHttpRequest();
	  xhr.open("GET", "{% url 'changer_profil_vendeur_s3' %}?file_name="+file.name+"&file_type="+file.type);
	  xhr.onreadystatechange = function(){
	    if(xhr.readyState === 4){
	      if(xhr.status === 200){
	        var response = JSON.parse(xhr.responseText);
	        uploadFile(file, response.data, response.url);
	      }
	      else{
	      	console.log()
	        alert("Impossible d'obtenir l'url signé.");
	      }
	    }
	  };
	  xhr.send();
	}

	function uploadFile(file, s3Data, url){
	  var xhr = new XMLHttpRequest();
	  xhr.open("POST", s3Data.url);

	  var postData = new FormData();
	  for(key in s3Data.fields){
	    postData.append(key, s3Data.fields[key]);
	  }
	  postData.append('file', file);
	  xhr.onreadystatechange = function() {
	    if(xhr.readyState === 4){
	      if(xhr.status === 200 || xhr.status === 204){
	        document.getElementById("preview").src = url;
	        document.getElementById("avatar-url").value = url;
	      }
	      else{
	      	console.log(xhr)
	    	alert("Status code : "+xhr.status)
	        // alert("Ce fichier ne peut etre téléchargé.");
	      }
	   }
	  };
	  xhr.send(postData);
	}

</script>
{% endblock %}