{% extends 'static_client.html' %}
{% load static %}
{% load mes_filtres %}
{% block static %}
<!-- ============================ COMPONENT 2 ================================= -->
<div class="container" style="margin-top: 70px;">
	<div class="card">
		<div class="row no-gutters " style="margin-top: 20px; margin-left: 20px; margin-right: 20px;">
			<aside class="col-sm-6 border-right">
				<article class="gallery-wrap"> 
					<div class="img-big-wrap">
					   <img importance="high" src="{{ produit.image }}">
					</div> <!-- img-big-wrap.// -->
					<div class="thumbs-wrap" style="">
					  {% for img in produit.imageproduit_set.all %}
					  	<a href="{{ img.image }}"  class="item-thumb"> <img src="{{ img.image }}"></a>
					  {% endfor %}
					</div> <!-- thumbs-wrap.// -->
				</article> <!-- gallery-wrap .end// -->
						</aside>
			<main class="col-sm-6">
				<article class="content-body text-center">
					<h2 class="title">{{ produit.libelle }}</h2>
					<h5 class="text-muted">Description</h5>
					<p>{{ produit.description }}.</p>
					<ul class="list-normal cols-one">
						<li class="">Catégorie: <span class="b">{{ produit.categorie.nom }}</span> </li>
						<li >Vendeur : <span class="b">{{ produit.vendeur.user.username }}</span> </li>
						{% if produit.quantite <= 3 %}
							<li> <span style="color: red;">Quantité restante : <b>{{ produit.quantite }} pc(s) restante(s)</b></span> </li>
						{% else %}
							<li > <span style="color: orange;">Quantité restante : <b>{{ produit.quantite }} pc(s)</b> </span></li>
						{% endif %}
						<li>Livraison Express à abidjan <b style="color: green;">en moins de 24h</b></li>
						<li ><span class="">Livraison gratuite : <b style="color: green;">{{ 'promo'|promo }} jours restants</b></span></li>
					</ul>

				<div class="h3 mb-4"> 
					<var class="price h4"> Prix : {{ produit.prix }} F.CFA</var> 
				</div> <!-- price-wrap.// -->
				<div class="form-row">
					<div class="col-4">
						
					</div> <!-- col.// -->

					<div class="col-3">
						<a href="{% url 'ajouter_envie' produit.id %}?suivant={% url 'ajouter_envie' produit.id %}" class="btn  btn-light fas fa-heart"> </a>
					</div> <!-- col.// -->
					<div class="col-5">
						<a href="{% url 'ajouter_panier' produit.id %}?suivant={% url 'ajouter_panier' produit.id %}" class="btn  btn-primary w-100 fas fa-shopping-cart"> Panier</a>
					</div> <!-- col.// -->
				</div> <!-- row.// -->

				</article> <!-- product-info-aside .// -->
			</main> <!-- col.// -->
		</div> <!-- row.// -->
	</div> <!-- card.// -->
</div>
<!-- ============================ COMPONENT 2 END .// ================================= -->
<br><br>
{% endblock %}