{% extends 'static_client.html' %}
{% load static %}
{% load mes_filtres %}																
{% block static %}
<!-- ========================= SECTION PAGETOP ========================= -->
<section class="section-pagetop bg-primary">
	<div class="container">
		<!-- <h2 class="title-page text-white">Résultat des recherches</h2> -->
		<nav>
		<!-- <ol class="breadcrumb text-white">
		    <li class="breadcrumb-item " ><a href="{% url 'accueil' %}" style="color: white;">Accueil</a></li>
		    <li class="breadcrumb-item active" style="color: white;" aria-current="page">Résultat recherche</li>
		</ol>   -->
		<center> <h1 style="color: white;">SPECIAL RAMADAN</h1> </center>
		</nav>
	</div> <!-- container //  -->
</section>
	<!-- ========================= SECTION INTRO END// ========================= -->

	<!-- ========================= SECTION CONTENT ========================= -->
	<section class="section-content padding-y">
		<div class="container-fluid">
			<div class="row">
				<aside class="col-md-3 col-12 col-sm-12 col-xl-3">
					<div class="card">
						<article class="filter-group">
							<header class="card-header">
								<a href="#" data-toggle="collapse" data-target="#collapse_3" aria-expanded="true" class="">
									<i class="icon-control fa fa-chevron-down"></i>
									<h6 class="title">Intervalle de prix </h6>
								</a>
							</header>
							<div class="filter-content collapse show" id="collapse_3" style="">
								<div class="card-body">
									<!-- <input type="range" class="custom-range" min="0" max="100" name=""> -->
									{% if requete %}
									<form method="post" action="{% url 'trier_produits' 'grid' requete %}">
									{% else %}
									<form method="post" action="{% url 'trier_produits' %}">
									{% endif %}
										{% csrf_token %}
										<div class="form-row">
												
												<div class="form-group col-md-6">
												  <label>Min</label>
												  <input class="form-control" placeholder="0" min="0" type="number" name="prix_min" value="{{prix_min}}">
												</div>
												<div class="form-group text-right col-md-6">
												  <label>Max</label>
												  <input class="form-control" placeholder="100000" min="0" type="number" name="prix_max" value="{{prix_max}}">
												</div>
										</div> <!-- form-row.// -->
										<button type="submit" class="btn btn-block btn-primary">Filtrer</button>
									</form>
								</div><!-- card-body.// -->
							</div>
						</article> <!-- filter-group .// -->
						
					</div> <!-- card.// -->
				</aside> <!-- col.// -->
				<main class="col-md-9 col-xl-9 col-12 col-sm-12">
					<br>
					<header class="border-bottom mb-4 pb-3">
							
								<div class="row">
									<div class="col-md-11 col-11 col-sm-11 col-lg-11, col-xl-11">
										<span class="mr-md-auto b">{{ taille }} article(s) trouvé(s) </span>
									</div>
									
								</div>
							
					</header><!-- sect-heading -->

					
					<div class="row">
					{% for produit in produits %}
						<div class="col-md-3 col-6 col-sm-6 col-lg-3">
							<figure class="card card-product-grid">
								<div class="img-wrap"> 
									{% if produit.date_ajout|conversion_date_jour < 10 %}
										<span class="badge badge-danger"> NOUVEAU </span>
									{% endif %}
									<img class="border img-fluid img-thumbnail" alt="Image introuvable" style="margin-top: 5px" src="{{ produit.image }}">
									<a class="btn-overlay" href="{% url 'detail_produit' produit.id %}"><i class="fa fa-search-plus"></i> Détails </a>
								</div> <!-- img-wrap.// -->
								<figcaption class="info-wrap text-center" style="font-size: 0.8rem;">
									<div >
										<h6>
											<a href="{% url 'detail_produit' produit.id %}" class="title b" style="font-size: 0.8rem;">
												{{ produit.libelle|truncatechars:30 }}
											</a>
										</h6>
										<div class="rating-wrap mb-3">
											<ul class="rating-stars">
												<li style="width:80%" class="stars-active text-left"> 
												{% for l in 'rien'|etoile_random %}
													<i class="fa fa-star"></i>
												{% endfor %}
												</li>
												<li >
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i> 
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i> 
													<i class="fa fa-star"></i>
													<i class="fa fa-star" style="visibility: hidden;"></i> 
												</li>
											</ul>
										</div> 
										<p class="text-warning b">Qté restante: {{ produit.quantite }}</p>
										{% if 'temp'|promo > 0 %}
										<p style="color: green;">Livraison gratuite : 
											<span class="text-right">{{ 'temp'|promo }} jours restants</span>
										</p>
										{% endif %}
										<div class="price-wrap mt-2">
											<span class="price h5">{{ produit.prix|parse_int|virgule }} F.CFA</span><br>
											<del style="color: red;">{{ produit|prix_barre|parse_int|virgule }} F.CFA</del><br>
											<span class="clignote b" style="font-size: 0.9rem;">
												Economisez {{produit|prix_barre|prix_economie:produit.prix|virgule }} F.CFA 
											</span>	
										</div> <!-- price-wrap.// -->
									</div><br>
									<a href="{% url 'ajouter_envie' produit.id %}?suivant={% url 'ajouter_envie' produit.id %}" class="btn btn-outline-secondary btn-block">
										<i class="fa fa-heart"></i> 
										<span class="text" >Envie</span>
									</a>
									<a href="{% url 'ajouter_panier' produit.id %}?suivant={% url 'ajouter_panier' produit.id %}" class="btn btn-warning btn-block">
										<i class="fa fa-shopping-cart"></i> 
										<span class="text">Panier</span>
									</a>
								</figcaption>
							</figure>
						</div> <!-- col.// -->
					{% empty %}
					<div class="col-md">
						
						<h1><center>Aucun résultat n'a été trouvé pour votre recherche</center></h1>
					</div>
					{% endfor %}
					</div>

				</main> <!-- col.// -->

			</div>

		</div> <!-- container .//  -->
	</section>
{% endblock %}